body {
  margin: 0;
}

.text-right {
  text-align: right;
}

.td {
    display: inline-block;
    overflow: hidden;
}

.thead {
  position: fixed;
  background-color: #ffffff;
}

.tr {
  white-space: nowrap;
}

.table {
}
