#banner {
  margin-bottom: 0;
}

#button_bar {
  border-top: 0;
  background-color: transparent;
}


#businesses_container {
  margin-top: 40px;
}

tr.special {
  cursor: pointer;
}

add_customer:after {
  content: "Add Customer";
}


table{
 height:400px;              // <-- Select the height of the table
}
tbody{
  overflow-y: scroll;      
  height: 300px;            //  <-- Select the height of the body
  width: 100%;
  position: absolute;
}

